@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /* Colours */
    --bg-gradient-colour1: black;
    --bg-gradient-colour2: midnightblue;

    --panel-gradient-colour1: black;
    --panel-gradient-colour2: #131313;

    --accent-colour: rgb(0, 255, 242);

    --text-colour: whitesmoke;
}

* {
    padding: 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    color: var(--text-colour);
    background: repeating-radial-gradient(at 25% 75%, #03000f 0%, #100320 100%) no-repeat 0 0/200% 100%;
}

#drone {
    width: 50px;
    height: 50px;
    border-bottom: 25px solid rgb(229, 255, 0);
    border-top: 25px solid transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(0deg);
    transition: transform 0.25s ease;
}

.header, .footer {
    display: flex;
    left: 0;
    padding: 2.5vh 10vw;
    width: 100vw;
    flex-direction: row;
    background: linear-gradient(var(--panel-gradient-colour2), var(--panel-gradient-colour1));
}

.header {
    position: relative;
    flex-wrap: nowrap;
    border-bottom: 2px solid var(--accent-colour);
    box-shadow: 0 -5rem 2rem 5rem var(--accent-colour);
}

.footer {
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    border-top: 2px solid var(--accent-colour);
    box-shadow: 0 5rem 2rem 5rem var(--accent-colour);
}

#footer-placement-settings {
    flex-direction: row;
}

#footer-drone-controls {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;

}

#footer-drone-controls-movement {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

.content {
    height: 100%;
    width: 100vw;
}