@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /* Colours */
    --bg-gradient-colour1: #03000f;
    --bg-gradient-colour2: #100320;

    --panel-gradient-colour1: black;
    --panel-gradient-colour2: #131313;

    --accent-colour: rgb(0, 255, 242);

    --text-colour: whitesmoke;
}

* {
    padding: 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    color: var(--text-colour);
    background-color: black;
    justify-content: center;
    align-content: center;
}

.header, .footer {
    display: flex;
    left: 0;
    padding: 2vh 10vw;
    width: 100%;
    flex-direction: row;
    background: linear-gradient(var(--panel-gradient-colour2), var(--panel-gradient-colour1));
}

.header {
    position: fixed;
    top: 0;
    flex-wrap: nowrap;
    justify-content: center;
    border-bottom: 2px solid var(--accent-colour);
    box-shadow: 0 -5rem 2rem 5rem var(--accent-colour);
}

.footer {
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    border-top: 2px solid var(--accent-colour);
    box-shadow: 0 5rem 2rem 5rem var(--accent-colour);
}

.footer-placement-settings {
    flex-direction: row;
}

.footer-drone-controls {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;

}

.footer-drone-controls-movement {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10%;
    background: repeating-radial-gradient(at 25% 75%, 
    var(--bg-gradient-colour1) 0%, var(--bg-gradient-colour2) 100%) no-repeat 0 0/200% 100%;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    background-color: transparent;
    transform: rotateX(180deg);
}

.cell {
    display: flex;
    border: 0.5px solid white;
    justify-content: center;
    align-content: center;
    transform: rotateX(180deg);
}

.drone {
    position: absolute;
    transition: 0.3s;
}

.bullet {
    position: absolute;
    border-radius: 50%;
    background-color: yellow;
    transition: 0.5s;
}